---
import SEO from "../components/SEO.astro";
import Footer from "../components/Footer.astro";

let title = "Astro Miami";
let description = "Minimalistic photography site with masonry grid";
let image = "https://astro-miami.netlify.app/banner.jpg";

const projects = await Astro.glob("../projects/**/index.mdx");
---

<html lang="en">
  <SEO title={title} description={description} image={image} />
  <body class="antialiased bg-slate-900">
    <div class="container mx-auto flex flex-col px-5 pt-36 py-0 items-center justify-center">
      <img class="rounded-full w-32 object-cover opacity-100" alt="avartar" src="avatar.png" />
      <h1 class="text-white text-4xl font-bold my-2 mb-1">Astro Miami</h1>
      <p class="text-slate-400 mb-8">
        Masonry image lists use dynamically sized container heights that reflect
        the aspect ratio of each image. This image list is best used for
        browsing uncropped peer content.
      </p>
      <div class="grid grid-cols-12 gap-2 gap-y-4 max-w-6xl">
        {
          projects.map((project) => (
          <div class="col-span-12 sm:col-span-6 md:col-span-3">
            <card class="w-full flex flex-col">
              <div class="relative">
                <a href={project.frontmatter.slug}>
                  <img src=`${project.frontmatter.slug}/${project.frontmatter.cover}` class="w-96 aspect-square" alt=""/>
                  <div class="flex flex-col">
                    <h5 class="text-gray-100 text-sm font-semibold">{project.frontmatter.title}</h5>
                    <p class="text-gray-100">{project.frontmatter.description}</p>
                  </div>
                </a>
              </div>
            </card>
            </div>
          ))
        }
      </div>
      <Footer />
    </div>
  </body>
</html>
