---
import SEO from "../components/SEO.astro";
import Footer from "../components/Footer.astro";

let title = "Astro Miami";
let description = "Minimalistic photography site with masonry grid";
let image = "https://astro-miami.netlify.app/banner.jpg";

const projects = await Astro.glob("../projects/**/index.mdx");
---

<html lang="en">
  <SEO title={title} description={description} image={image} />
  <body class="antialiased bg-slate-900">
    <div
      class="container mx-auto flex flex-col px-5 pt-36 py-0 items-center justify-center"
    >
      <img
        class="rounded-full w-32 object-cover opacity-100"
        alt="avartar"
        src="avatar.png"
      />
      <h1 class="text-white text-4xl font-bold my-2 mb-1">Astro Miami</h1>
      <p class="text-slate-400 mb-8">
        Masonry image lists use dynamically sized container heights that reflect
        the aspect ratio of each image. This image list is best used for
        browsing uncropped peer content.
      </p>
      <div class="columns md:columns-2 lg:columns-3">
        <ul>
          {
            projects.map((project) => (
              <li>
                <a href={project.frontmatter.slug}>
                  <h1>{project.frontmatter.title}</h1>
                  <p>{project.frontmatter.description}</p>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <Footer />
    </div>
  </body>
</html>
